* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


/* Boot CSS */
img{
    width: 100%;
    max-width: 400px;
}

.center{
    max-width: 1200px;
    padding: 0 2%;
    margin: 0 auto;
}
.w33{
    width: 33.3%;
    padding: 0 10px;
}
.w50{
    padding: 0 2%;
    width: 50%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}

/* Estilização */
header{
    background: #D16014;
    padding: 20px 0;
}

header .logo{
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    color: #e2f9b8;
}
.mobile{
    display: none;
}

nav.desktop ul {
    position: relative;
    top: 5px;
    list-style-type: none;
}

nav.desktop li {
    font-weight: lighter;
    padding: 0 20px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    color: #e2f9b8;
    text-decoration: none;
}

section.banner-principal{
    width: 100%;
    height: 600px;
    background-image: url("../images/bg-form.png");
    background-size: cover;
    position: relative;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(209,96,20,0.7);
}

section.banner-principal form{
    width: 93%;
    max-width: 600px;
    z-index: 2;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

section.banner-principal form h2{
    color: #e2f9b8;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size:26px;
    text-align: center;
}

section.banner-principal form input[type=email]{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0px;
    color: #313715;
    font-size: 24px;
    padding-left: 20px;
}

section.banner-principal form input[type=submit]{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    color: #e2f9b8;
    text-transform: uppercase;
    background: #D16014;
    font-size: 24px;
    padding-left: 20px;
}

section.descricao-autor{
    padding:40px 0;
}

section.descricao-autor h2{
    font-size: 28px;
    font-weight: 400;
    color: #313715;
}
section.descricao-autor p{
    color: #313715;
    font-size: 16px;
    text-align: justify;
    font-weight: 300;
    margin-top: 14px;
    line-height: 20px;
}

section.descricao-autor h4 a {
    font-weight: lighter;
    color:#313715;
    cursor: pointer;
    text-decoration: none;
}

section.especialidades{
    padding: 40px 0;
    background:#D16014;
}
section.especialidades h2.title{
    font-size: 30px;
    font-width: 400;
    color:#bbce8a;
    text-align: center;
    text-transform: uppercase;
}
.box-especialidades{
    margin: 20px 0;
    padding: 0 30px;
    text-align: center;
}

.box-especialidades h3{
    color: #bbce8a;
    font-size: 40px;
}
.box-especialidades h4{
    font-size: 25px;
    color: #bbce8a;
}

.box-especialidades p{
    color: #bbce8a;
    font-size: 15px;
    margin-top: 10px;
}
@media screen and (max-width: 700px){
    nav.desktop{
        display: none;
    }
    nav.mobile{
        display: block;
    }

    .botao-menu-mobile{
        font-size: 25px;
        color: #e2f9b8;
        cursor: pointer;
    }

    nav.mobile ul{
        top:55px;
        z-index: 3;
        position: absolute;
        left: 0;
        width: 100%;
        background: #313715;
        display: none;
        text-align: center;
    }
    nav.mobile li{
        display: block;
        font-size: 17px;
        border: 1px #D16014 solid;
        padding: 8px 0;
    }
    nav.mobile li a{
        color:#e2f9b8;
        text-decoration: none;
    }
}

@media screen and (max-width: 768px){
    img{
        float: none !important;
        display: block;
        margin: 0 auto;
        max-width: 500px;
    }
    .w50{
        padding: 20px;
        width: 100%;
    }
    .w33{
        padding: 20px;
        width: 100%;
    }
    .box-especialidades{
        padding: 20px 40px;
        margin: 0;
    }
}